name: Linted

on:
  push:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v1
      with:
        python-version: 3.8
    - name: Install dependencies
      run: python setup.py install
    - name: Lint with black
      run: |
        pip install black
        # stop the build if it's not linted as per black
        black --check --diff nbresuse/
